// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here
// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

// 4. Include any optional Bootstrap components as you like
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";

// 5. Add additional custom code h

/* GENERAL USAGE AND CHANGES ON BOOTSTRAP CLASSES */
a {
  color: black;
}
.z-back {
  z-index: -1;
}
.z-front {
  z-index: 1;
}
.fs-7 {
 font-size: 15px;
}
.nav-link {
  color: black;
}
.fs-0 {
  font-size: 70px;
}
.hover-grey:hover {
  color: grey;
}
.btn-outline-secondary {
  border: black solid 4px;
  border-radius: 0;
  width: 150px;
}
.cover-img {
  object-fit: cover;
}


/* HEADER CHANGES */
.height-header {
  height: 75px;
}
.shopping-number{
  margin-left: -10px;
  border-radius: 0.8em;
  line-height: 15px;
  font-size: 11px;
  width: 15px;
}

/* PAGINA PRINCIPAL  */
.height-principalPage {
  height: calc(100vh - 75px);
}
.bg-img-frontPage-50 {
  background-image: url('../img/frontPageimg.jpg');
  background-size: 50% 100%;
  background-position: right;
  background-repeat: no-repeat;
}
.bg-img-frontPage-100 {
  background-repeat: no-repeat;
  background-image: url('../img/frontPageimg.jpg');
  background-size: auto 100%;
  background-position: center;
}

/* AD */
.bg-gif-need-for-speed-100 {
  background-repeat: no-repeat;
  padding-top: 200px;
  background-image: url('../img/timothy-colin-pausemenugif01.gif');
  background-size: auto;
  background-position: center;
  padding-bottom: 200px;
}
.btn-outline-primary {
  border: 0;
  border-radius: 0;
  width: 150px;
}

/* List of Cars */
.bg-white-cloud {
  background: #F6F6F6;
}
.absolute-top {
  top: 0;
  left: 0;
}
.form-check input {
  appearance: none;
  background-color: rgb(120, 120, 120);
}
.form-check input:checked{
  background-color: #191919;
}