// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here
// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

// 4. Include any optional Bootstrap components as you like
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";

// 5. Add additional custom code h


/* HEADER CHANGES */
.height-header {
  height: 75px;
}
.hover-grey:hover {
  color: grey;
}
.nav-link {
  color: black;
}
.shoppingCart{
  background: black;
  margin-left: -10px;
  border-radius: 0.8em;
  color: white;
  display: inline-block;
  font-weight: bold;
  line-height: 15px;
  text-align: center;
  font-size: 11px;
  width: 15px;
}

/* PAGINA PRINCIPAL  */
.height-principalPage {
  height: calc(100vh - 75px);
}
.bg-index-1 {
  z-index: -1;
}
