// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here
// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

// 4. Include any optional Bootstrap components as you like
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";

// 5. Add additional custom code h

/* GENERAL USAGE */
.z-back {
  z-index: -1;
}
.z-front {
  z-index: 1;
}
.nav-link {
  color: black;
}
.fs-0 {
  font-size: 70px;
}
.hover-grey:hover {
  color: grey;
}
.btn-outline-secondary {
  border: black solid 4px;
  border-radius: 0;
  width: 150px;
}

/* HEADER CHANGES */
.height-header {
  height: 75px;
}
.shoppingCart{
  background: black;
  margin-left: -10px;
  border-radius: 0.8em;
  color: white;
  display: inline-block;
  font-weight: bold;
  line-height: 15px;
  text-align: center;
  font-size: 11px;
  width: 15px;
}

/* PAGINA PRINCIPAL  */
.height-principalPage {
  height: calc(100vh - 75px);
}
.bg-img-need-for-speed-50 {
  background-image: url('../img/agentough-111.jpg');
  background-size: 50% 100%;
  background-position: right;
  background-repeat: no-repeat;
  object-fit: cover;
}
.bg-img-need-for-speed-100 {
  background-image: url('../img/agentough-111.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  object-fit: cover;
}

/* AD */
.cover-img {
  object-fit: cover;
}
.bg-gif-need-for-speed-100 {
  padding-top: 100px;
  background-image: url('../img/timothy-colin-pausemenugif01.gif');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  padding-bottom: 100px;
}

/* List of Cars */

/* Star color personalize */
.text-FFA500FF {
  color: orange;
}
.bg-lineal-F6F6F6 {
  background: linear-gradient(#F6F6F6, #F6F6F6);
}