// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

@import "../../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here
// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here

// 3. Include remainder of required Bootstrap stylesheets
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

// 4. Include any optional Bootstrap components as you like
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/grid";

// 5. Add additional custom code h

// Changes on cavas lenght when open
$offcanvas-horizontal-width: 600px;

// Changes on font size attrib
$font-sizes: (
        1: 70px,
        2: 50px,
        3: 30px,
        4: 25px,
        5: 10px,
        6: 0.5rem,
);

$theme-colors: (
        "warning": #AACDEE,
        "info": #8F0874,
        "success": #ff33f6,
        "light": #23262F
);
$spacer: 1rem;
$spacers: (
        0: 0,
        1: $spacer * .25,
        2: $spacer * .5,
        3: $spacer,
        4: $spacer * 3,
        5: 125px,
);

$negative-spacers: if($enable-negative-margins, negativify-map($spacers), null);

$utilities: map-merge(
                $utilities,
                (
                        "font-size": map-merge(
                                        map-get($utilities, "font-size"),
                                        (
                                                values: $font-sizes,
                                        ),
                        ),
                )
);

@import "../../node_modules/bootstrap/scss/bootstrap";

/* GENERAL USAGE AND CHANGES ON BOOTSTRAP CLASSES */
.z-front {
  z-index: 1;
}
a, .nav-link {
  color: black;
}
.cover-img {
  object-fit: cover;
}
.h-5vh {
  height: 5vh;
}
@media only screen and (max-width: 1200px) {
  .fs-lg-3 {
    font-size: 13px;
  }
}
@media only screen and (min-width: 1200px) {
  .sticky-lg-none {
    position: relative;
  }
}
.w-10 {
  width: 40px;
}
// No te impresiones no lo he hecho yo, aunque se nota
.text-shadow-white {
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}
.ps-6 {
 padding-left: 125px;
}
//Aqui es donde se nota que bootstrap ayuda (Si) pero es un poco kaka
.navbar-toggler {
  font-size: 1rem;
  border: none;
  border-radius: 0;
}
.navbar-toggler:focus {
  box-shadow: none;
}

/* HEADER CHANGES */
.height-header {
  height: 10vh;
}

.filter-lila {
  filter: hue-rotate(300deg);
}
.filter-blue {
  filter: hue-rotate(150deg);
}


/* PAGINA PRINCIPAL  */
.height-principalPage {
  height: 90vh;
}


/* AD */
.bg-gif-need-for-speed-100 {
  background-repeat: no-repeat;
  padding-top: 150px;
  background-image: url('../../img/timothy-colin-pausemenugif01.gif');
  background-size: auto;
  background-position: center;
  padding-bottom: 150px;
}



/* List of Cars */
.bg-white-cloud {
  background: #F6F6F6;
}
.form-check input {
  appearance: none;
  background-color: rgb(120, 120, 120);
}
.form-check input:checked{
  background-color: #191919;
}
.car-img-size {
  height: 17rem;
}
@media only screen and (max-width: 1200px) {
  .car-img-size {
    height: 10rem;
  }
}
.h-300px {
  height: 350px;
}


/* COMMENTS */
.w-comments-img {
  width: 200px;
}


/* FITXA */
input[value~=japan] {
  background: radial-gradient(20px at 50% 50%, #BC002D 0, #BC002D 35%, transparent 35%, transparent 100%), white;
}
input[value~=spain] {
  background: linear-gradient(red 25%, yellow 25%, yellow 75%,  red 75%);
}
input[value~=france] {
  background: linear-gradient(to right, #002395 calc(100% / 3), white calc(100% / 3), white calc(100% / 3 * 2), #ED2939 calc(100% / 3 * 2));
}
input[value~=germany] {
  background: linear-gradient(to bottom, black calc(100% / 3), #DD0000 calc(100% / 3), #DD0000 calc(100% / 3 * 2), #FFCE00 calc(100% / 3 * 2));
}